<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<!-- <link rel="stylesheet" href="./libelement-ui/element-#0E2B4A/src/index.css"> -->
	<link rel="stylesheet" href="./lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./lib/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="./src/css/main.css">
	<link rel="stylesheet" href="./src/css/login.css">
</head>

<body>
	<div class="login-wrap">
		<div class="ms-login">
			<div class="ms-title maincolor">中盈安信研发平台</div>
			<el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="0px" v-if="!logined" class="form">
				<el-form-item prop="userid">
					<el-input prefix-icon="fa fa-user" clearable v-model.number="ruleForm.userid" placeholder="请输入用户名称"></el-input>
				</el-form-item>
				<el-form-item prop="pass">
					<el-input prefix-icon="fa fa-lock" clearable type="password" placeholder="请输入密码" v-model="ruleForm.pass" @keyup.enter.native="login('ruleForm')"></el-input>
				</el-form-item>
				<el-form-item>
					<el-radio v-model="ruleForm.radio" label="1" border size="medium">左侧菜单</el-radio>
					<el-radio v-model="ruleForm.radio" label="2" border size="medium">顶部菜单</el-radio>
				</el-form-item>
				<div class="login-btn">
					<el-button type="primary" @click="submitForm('ruleForm')">登录</el-button>
				</div>
			</el-form>
		</div>
		<p class="copyright">
			版权所有：北京中盈安信技术服务股份有限公司 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;京ICP备12006059号-1
		</p>
	</div>


</body>
<!-- import Vue before Element -->
<script src="./lib/vue/vue.js"></script>
<script src="./lib/jquery/jquery-1.12.4.min.js"></script>
<!-- import JavaScript -->
<script src="./lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./common/js/jas-tools.js"></script>

<script>
	var vm = new Vue({
		el: ".login-wrap",
		data: function () {
			return {
				logined: 0,
				isPersonal: false,
				ruleForm: {
					userid: 'admin',
					pass: '111111',
					logintype: 0,
					radio: "1"
				},
				rules: {
					username: [{
						required: true,
						message: '请输入用户名称'
					}],
					password: [{
						required: true,
						message: '请输入密码'
					}]
				}
			};
		},
		methods: {
			gotoreset: function () {

			},
			gotoregist: function () {

			},
			submitForm: function (formName) {
				var that = this;
				this.$refs[formName].validate(function (valid) {
					if (!valid) {
						return false;
					}
					var url = jasTools.base.rootPath + "/jasframework/login/login.do";
					jasTools.ajax.post(url, {
						"logintype": "0",
						"loginNum": that.ruleForm.userid,
						"pass": that.ruleForm.pass,
						"i18n": "zh_CN",
						"appId": "402894a152681ba30152681e8b320003"
					}, function (data) {
						localStorage.setItem("token", data.token);
						localStorage.setItem("user", JSON.stringify(data.user));
						if (that.ruleForm.radio == '1') {
							location.href = "./index.html";
						} else {
							location.href = "./index1.html";
						}
					});
				});
			}
		}
	});
</script>

</html>