html,
body,
#app,
.outerwrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: #333;
	font-size: 14px;
}

.height100 {
	height: 100%;
}

/* header开始 */

.headerwrapper {
	background: #409EFF;
}

.header {
	position: relative;
	box-sizing: border-box;
	height: 80px;
	font-size: 22px;
	line-height: 80px;
	color: #fff;
	margin: 0 -20px 0 -20px;
	overflow: hidden;
}

.logo {
	width: 60px;
	background: url(./../images/logo_icon.png) no-repeat center right;
	margin: 0 10px 0 0px;
}

.name .china {
	height: 50px;
	font-size: 24px;
	font-weight: 600;
	line-height: 74px;
	letter-spacing: 1px;
}

.name .english {
	font-weight: 700;
	text-align: center;
	line-height: 16px;
	font-size: 8px;
	letter-spacing: 4px;
}

.item {
	height: 80px;
	line-height: 80px;
	color: white;
	float: left;
}

.user-info {
	float: right;
	padding-right: 30px;
	font-size: 16px;
	color: #fff;
}

.user-info .dropdown-wrapper {
	margin-top: 20px;
	height: 40px;
	line-height: 40px;
}

.user-info .el-dropdown-link {
	position: relative;
	display: inline-block;
	padding-left: 50px;
	color: #fff;
	cursor: pointer;
	vertical-align: middle;
}

.user-info .user-logo {
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.el-dropdown-menu__item {
	text-align: center;
}

.el-select {
	margin-left: 20px;
	line-height: 20px;
}

/* header开始 */

/* header-top-menu 开始 */

.header-top-menu {
	position: relative;
	box-sizing: border-box;
	font-size: 22px;
	line-height: 80px;
	color: #fff;
	overflow: hidden;
	border-bottom: solid 1px #e6e6e6;
}

.header-top-menu .logo2 {
	width: 60px;
	height: 100%;
	background: url(./../images/logo_icon.png) no-repeat center right;
	position: absolute;
	left: 0;
}

.header-top-menu .user-info {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	padding-right: 30px;
	font-size: 18px;
}

/* .header-top-menu .userWrapper img{
  width:50px;
  height:50px;
  border-radius: 30px;
  vertical-align: middle;
}
.header-top-menu .userWrapper span{
  padding:0 10px;
} */

.header-top-menu .top-menu-wrapper {
	padding: 19px 170px 0 100px;
}

.header-top-menu .el-menu--horizontal {
	border-right: none;
	border-bottom: none;
}

.header-top-menu .el-submenu__title i {
	color: inherit;
}

.header-top-menu .el-menu-item i {
	color: inherit;
}

.el-menu--horizontal .el-menu-item i {
	color: inherit;
}

.el-menu--horizontal .el-submenu__title i {
	color: inherit;
}

/* header-top-menu 结束 */

/* sider开始 */

.menuwrapper {
	border-right: solid 1px #e6e6e6;
	overflow: hidden;
}

.menusubwrap {
	transition: width 0.5s;
	overflow: auto;
	width: 200px;
}

.el-menu-vertical-demo.el-menu {
	overflow: hidden;
	border-right: none;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
	width: 100%;
}

.switchwrapper {
	text-align: center;
	line-height: 40px;
	height: 40px;
	box-sizing: border-box;
	border-top: solid 1px #e6e6e6;
}

/* sider结束 */

.iframewrapper {
	width: 100%;
	height: 100%;
	/* background: #ecf5ff; */
	/*border: 10px solid #fff;*/
	box-sizing: border-box;
}

.iframesubwrapper {
	width: 100%;
	height: 100%;
	background: white;
}

.iframe {
	width: 100%;
	height: 100%;
}

/* tabs开始 */

.el-main {
	padding: 0;
}

.tabswrapper {
	height: 100%;
	width: 100%;
}

.tabswrapper .el-tabs__header {
	/* padding: 0 10px; */
	box-sizing: border-box;
	width: 100%;
	margin: 0;
}

.tabswrapper .el-tabs__content {
	width: 100%;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tabswrapper .el-tabs__content .el-tab-pane {
	height: 100%;
}

/* tabs开始 */

/*! Copyright (c) 2016 Naufal Rabbani (http://github.com/BosNaufal)
  * Licensed Under MIT (http://opensource.org/licenses/MIT)
  *
  * Vue 2 Loading Bar - Version 0.0.1
  *
  */

.LoadingBar {
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	position: fixed;
	top: 0;
	z-index: 99999;
	/* background: #1af184; */
	background: rgba(60, 255, 86, 0.842);
	height: 3px;
	opacity: 1
}

.LoadingBar-glow {
	top: 0;
	position: absolute;
	width: 100px;
	height: 100%;
	box-shadow: -3px 0 15px 1px rgba(0, 255, 231, .4)
}

.LoadingBar--to_right {
	left: 0
}

.LoadingBar--to_left,
.LoadingBar--to_right .LoadingBar-glow {
	right: 0
}

.LoadingBar--to_left .LoadingBar-glow {
	left: 0
}

.LoadingBar--full {
	transition: all .1s ease;
	-moz-transition: all .1s ease;
	-webkit-transition: all .1s ease;
	-o-transition: all .1s ease;
	height: 0;
	opacity: 0
}

.LoadingBar--error {
	background: #f44336;
}

.LoadingBar--error .LoadingBar-glow {
	box-shadow: -3px 0 15px 1px rgba(244, 67, 54, .4);
}






