<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<!-- <link rel="stylesheet" href="./libelement-ui/element-#0E2B4A/src/index.css"> -->
	<link rel="stylesheet" href="./../../lib/element-ui/v2.2.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../src/css/main.css">

</head>

<body>
	<div id="app">
		<el-alert title="iframe-dialog例子" type="info"></el-alert>

		<el-button type="text" @click="click01">点击打开 iframe-Dialog</el-button>
		<el-button type="text" @click="showMask">点击下钻的 iframe-Dialog</el-button>

		<el-alert title="table 编辑新增例子" type="info"></el-alert>

		<el-button-group>
			<el-button size="small" type="primary" @click="addNewRow">新增</el-button>
			<el-button size="small" type="primary" @click="sortTable">排序</el-button>
		</el-button-group>
		<br>

		<el-table :data="tableData" border style="width: 100%">
			<el-table-column fixed prop="date" label="日期" width="250">
				<template slot-scope="scope">
					<div v-if="scope.row.editing">
						<el-date-picker size="small" v-model="scope.row.date" type="date" value-format="yyyy-MM-dd" placeholder="选择日期">
						</el-date-picker>
					</div>
					<div v-else>
						<span>{{scope.row.date}}</span>
					</div>
				</template>
			</el-table-column>
			<el-table-column prop="name" label="姓名" width="120">
			</el-table-column>
			<el-table-column prop="single" label="独生子" width="120">
				<template slot-scope="scope">
					<div v-if="scope.row.editing">
						<el-switch v-model="scope.row.single" :active-value="1" :inactive-value="0"></el-switch>
					</div>
					<div v-else>
						<span v-text="scope.row.single?'是':'否'"></span>
					</div>
				</template>
			</el-table-column>
			<el-table-column prop="province" label="省份" width="120">
				<template slot-scope="scope">
					<div v-if="scope.row.editing">
						<el-select size="small" v-model="scope.row.province" placeholder="请选择活动区域">
							<el-option label="上海" value="上海"></el-option>
							<el-option label="北京" value="北京"></el-option>
							<el-option label="山东" value="山东"></el-option>
						</el-select>
					</div>
					<div v-else>
						<span>{{scope.row.province}}</span>
					</div>
				</template>
			</el-table-column>
			<el-table-column prop="city" label="市区" width="120">
			</el-table-column>
			<el-table-column prop="address" label="地址" width="300">
			</el-table-column>
			<el-table-column prop="zip" label="邮编" width="120">
				<template slot-scope="scope">
					<div v-if="scope.row.editing">
						<el-input v-model="scope.row.zip" size="small"></el-input>
					</div>
					<div v-else>
						<span>{{scope.row.zip }}</span>
					</div>
				</template>

			</el-table-column>
			<el-table-column fixed="right" label="操作" width="100">
				<template slot-scope="scope">
					<div v-if="!scope.row.editing">
						<el-button @click="seeRow(scope.row)" type="text" size="small">查看</el-button>
						<el-button @click="editRow(scope.row)" type="text" size="small">编辑</el-button>
					</div>
					<div v-else>
						<el-button @click="saveEdit(scope.row)" type="text" size="small">保存</el-button>
						<el-button @click="cancelEdit(scope.row)" type="text" size="small">取消</el-button>
					</div>
				</template>
			</el-table-column>
		</el-table>

		<el-alert title="排序例子" type="info"></el-alert>

		<draggable v-model="tableData" :options="dragOptions" @start="drag=true" @end="drag=false">

			<transition-group type="transition" :name="'flip-list'">
				<div class="list-item" v-for="element in tableData" :key="element.date">
					<span>{{element.name}}</span>
					<span>{{element.date}}</span>
					<span class="badge">{{element.index}}</span>
				</div>
			</transition-group>

		</draggable>

	</div>

	<!-- <div id="dialog01" style="height:0;width:0;background:#f90;position: fixed;top:50%;left:50%;transform: translate(-50%,-50%);z-index:10;transition: all 0.4s;opacity: 0;">
		<div style="height:40px;width:100%;box-sizing:border-box;background:#c0c0c0;overflow: hidden;line-height:40px;padding:0 15px;position: absolute;">
			<span>table > 字段配置</span>
			<span style="float:right;cursor: pointer;">返回</span>
		</div>
		<div style="height:100%;box-sizing: border-box;padding-top:40px;">
			<iframe src="https://www.baidu.com/" frameborder="0" style="height:100%;width:100%;"></iframe>
		</div>
	</div> -->
</body>
<script src="./../../lib/jquery/jquery-1.12.4.min.js"></script>
<!-- import Vue before Element -->
<script src="./../../lib/vue/vue.js"></script>
<!-- import JavaScript -->
<script src="./../../lib/element-ui/v2.2.1/index.min.js"></script>

<script src="./../../lib/vue-draggable/index.min.js"></script>


<script src="./../../common/components/jas-components.js"></script>
<script src="./../../common/js/jas-tools.js"></script>

<script src="./../table-operation/js/rule.js"></script>
<script>
	new Vue({
		el: '#app',

		data: function () {
			return {
				dragOptions: {
					ghostClass: 'ghost'
				},
				tableData: [{
					index: 1,
					date: '2016-05-03',
					editing: 0,
					name: '王小虎',
					single: 1,
					province: '上海',
					city: '普陀区',
					address: '上海市普陀区金沙江路 1518 弄',
					zip: 200111
				}, {
					index: 2,
					date: '2016-05-02',
					editing: 0,
					name: '王小虎',
					single: 0,
					province: '上海',
					city: '普陀区',
					address: '上海市普陀区金沙江路 1518 弄',
					zip: 202333
				}, {
					index: 3,
					date: '2016-05-04',
					editing: 0,
					name: '王小虎',
					single: 0,
					province: '上海',
					city: '普陀区',
					address: '上海市普陀区金沙江路 1518 弄',
					zip: 2033
				}, {
					index: 4,
					date: '2016-05-01',
					editing: 0,
					name: '王小虎',
					single: 1,
					province: '上海',
					city: '普陀区',
					address: '上海市普陀区金沙江路 1518 弄',
					zip: 20033
				}]

			}
		},
		methods: {
			addNewRow: function () {
				var row = JSON.parse(JSON.stringify(this.tableData[0]));
				row.editing = 1;
				this.tableData.unshift(row);
			},
			click01: function () {
				window.top.jasTools.dialog.show({
					title: '这是测试',
					src: './../../dialogs/dialog-test/test.html',
					cbForClose: function (param) {
						console.log('_______您传的参数是______', param)
					}
				})
			},
			seeRow: function (row) {

				window.top.Vue.prototype.$message({
					message: '查看',
					type: 'error'
				});
			},
			editRow: function (row) {
				delete row.history;
				row.history = JSON.parse(JSON.stringify(row));
				row.editing = 1;
				console.log(row)
			},
			saveEdit: function (row) {
				row.editing = 0;
				window.top.Vue.prototype.$message({
					message: '保存成功',
					type: 'success'
				});
			},
			cancelEdit: function (row) {
				//row.address = "你取消了修改"
				console.log(row)
				if (row.history) {
					window.top.jasTools.base.extend(row, row.history);
					delete row.history;
				} else {
					var n = this.tableData.indexOf(row);
					this.tableData.splice(n, 1)
					console.log(n)
				}
			},
			sortTable: function () {
				var tableId = 'dd72665e-3cce-4308-a87b-3e2bd8861806';
				window.top.jasTools.dialog.show({
					title: '字段排序',
					width: '40%',
					height: '80%',
					src: '/pages/table-operation/dialogs/sort.html?tableId=' + tableId,
					cbForClose: function (param) {
						if (param === 1) {
							alert('此时可以执行刷新列表操作')
						}
					}
				});
			},
			showMask: function () {
				window.top.jasTools.mask.show({
					window: window, // 要在哪个window对象里面插入dom
					params : {
						dbType : 'DT_01',
						tableId : 'dd72665e-3cce-4308-a87b-3e2bd8861806'
					},
					src: '/pages/table-operation/dialogs/field-operation.html',
					title: 'tableName >字段配置',
					cbForClose: function (a) {
						window.top.Vue.prototype.$message({
							message: '关闭成功，参数为' + a,
							type: 'success'
						});
					}
				});
				// 这是关闭的方法
				setTimeout(function(){
					// window.top.jasTools.mask.close(123321);

				},2000)
			}
		},
		mounted: function () {

		}
	})

</script>