<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>组织机构管理</title>
  <!-- <link rel="stylesheet" href="./libelement-ui/element-#0E2B4A/src/index.css"> -->
  <link rel="stylesheet" href="./../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
  <link rel="stylesheet" href="./../../lib/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./../../src/css/main.css">
  <style>
    .height {
      height: 100% !important;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <div style="padding:  0 15px 15px;box-sizing: border-box;height: 100%;">

      <div style="padding-top:10px;">
        <el-form ref="form">
          <el-form-item label="项目名称" style="margin-bottom:0px">
            <el-select v-model="topSearch.projectOids" collapse-tags multiple placeholder="请选择" @change="select">
              <el-option v-for="project in projectArray" :key="project.key" :label="project.value" :value="project.key">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>

        <!--<jas-search-for-list slot="search" :form="topSearch" :fields="fields" :fields-config="fieldsConfig" @search="searchList"></jas-search-for-list>-->
      </div>
      <el-row :gutter="10" style="padding-top:10px">
        <el-col :xs="24" :sm="24" :md="24" :lg="12" :xl="12" class="height">
          <el-card style="margin-bottom: 10px">
            <div id="process" style="width:100%;height:360px;">

            </div>
          </el-card>

        </el-col>
        <el-col :xs="24" :sm="24" :md="24" :lg="12" :xl="12" class="height">
          <el-card style="margin-bottom: 10px">
            <div id="month" style="width:100%;height:360px;">

            </div>
          </el-card>
        </el-col>
      </el-row>
      <el-row :gutter="10" style="padding-top:10px">
        <el-col :xs="24" :sm="24" :md="24" :lg="12" :xl="12" class="height">
          <el-card style="margin-bottom: 10px">
            <div id="yield" style="width:100%;height:360px;">
            </div>
          </el-card>
        </el-col>
        <el-col :xs="24" :sm="24" :md="24" :lg="12" :xl="12" class="height">
          <el-card style="margin-bottom: 10px">
            <div id="inputAndCheck" style="width:100%;height:360px;">
            </div>
          </el-card>
        </el-col>
      </el-row>
    </div>
  </div>

</body>

<script src="./../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../lib/vue/vue.js"></script>
<script src="./../../lib/echarts/echarts.js"></script>
<script src="./../../lib/vue-multipane/vue-multipane.js"></script>
<script src="./../../lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./../../common/components/jas-components.js"></script>
<script src="./../../common/js/jas-tools.js"></script>
<script>
  var vm = new Vue({
    el: '#app',
    data: function () {
      return {
        topSearch: {
          projectOids: [],
        },
        projectArray: [{
          key: "项目群",
          value: "项目群"
        }],
        // fields: [{
        //   field: "projectOid",
        //   name: "项目名称"
        // }],
        // fieldsConfig: {
        //   projectOid: {
        //     type: 'select',
        //     optionUrl: '/daq/privilege/getProjectList.do',
        //   },
        // },
        fieldsMap: {
          "pipe": {
            name: '管材(km)',
            color: '#5b9bd5'
          },
          "weld": {
            name: '焊接(km)',
            color: '#a5a5a5'
          },
          "patch": {
            name: '补口(km)',
            color: '#ffc000'
          },
          "lay_surveying": {
            name: '测量放线(km)',
            color: '#ed7d31'
          },
          "lay_land_restoration": {
            name: '地貌恢复(km)',
            color: '#70ad47'
          },
          "lay_pipe_trench_backfill": {
            name: '管沟回填(km)',
            color: '#4472c4'
          },
          "total": {
            name: '已录入'
          },
          "needAudit": {
            name: "需要审核"
          },
          "audited": {
            name: "已审核"
          }
        },
        myChart: "",
        yield: "", //合格率
        inputAndCheck: "", //数据录入/审核统计
        month: "", //分月
        ids: ['项目群', ], //表示所有下拉选的id
        oldOptions: [] //表示上次选中的值
      }
    },
    watch: {

    },
    mounted: function () {
      var that = this;
      that.requestProject(function () {
        that.requestNet();
      });
      $(window).resize(function () {
        that.myChart.resize();
        that.yield.resize();
        that.inputAndCheck.resize();
        that.month.resize();
      });
    },
    methods: {
      requestNet: function () {
        var that = this;
        that.requestProcess();
        that.requestYield();
        that.requestInputAndCheck();
        that.requestMonth();
      },
      requestProject: function (callback) {
        var that = this;
        var url = jasTools.base.rootPath + "/daq/privilege/getProjectList.do";
        jasTools.ajax.post(url, {}, function (data) {
          data.rows.forEach(function (item) {
            that.ids.push(item.key);
            that.projectArray.push(item);
          });
          that.topSearch.projectOids = that.ids;
          that.oldOptions = that.topSearch.projectOids;
          callback();
        });
      },
      requestMonth: function () {
        var that = this;
        var ledgend = [];
        var serise = [];
        var months = [];
        var url = jasTools.base.rootPath + "/overallStatistics/processMonthlyCompletion.do";
        var ids= that.topSearch.projectOids.filter(function(item){
        	return item!='项目群'
        });
        jasTools.ajax.post(url, {projectOids:ids}, function (data) {

          for (var key in data.data) {
            var x = [];
            var month = [];
            for (var key1 in data.data[key]) {
              var d=data.data[key][key1]?data.data[key][key1]/1000:0;
              var d1=d?d.toFixed(3):0;
              x.push(d1);
              if (months.length == 0) {
                month.push(key1);
              }
            }
            if (months.length == 0) {
              months = month;
            }
            var item = {
              name: that.fieldsMap[key].name,
              type: 'line',
              stack: '总量',
              itemStyle: {
                color: that.fieldsMap[key].color
              },
              data: x
            };
            ledgend.push(that.fieldsMap[key].name);
            serise.push(item);

          }
          that.renderMonth(ledgend, serise,months);
        });
      },
      requestYield: function () {
        var that = this;
        var url = jasTools.base.rootPath + "/overallStatistics/statsDetectionRayPassCount.do";
        var ids= that.topSearch.projectOids.filter(function(item){
        	return item!='项目群'
        });
        jasTools.ajax.post(url, {projectOids:ids}, function (data) {
        	console.log(data);
          var pass;
          var noPass;
          if (data.data.count == 0) {
            pass = 1;
            noPass = 0;
          } else {
            pass = data.data.passCount;
            noPass = data.data.count - data.data.passCount;
          }
          that.renderYield(pass, noPass);
        });
      },
      requestInputAndCheck: function () {
        var that = this;
        var x = [];
        var y = [];
        var url = jasTools.base.rootPath + "/overallStatistics/dataEntryAudit.do";
        var ids= that.topSearch.projectOids.filter(function(item){
        	return item!='项目群'
        });
        jasTools.ajax.post(url, {projectOids:ids}, function (data) {
          for (var key in data.data) {
            x.push(that.fieldsMap[key].name);
            y.push(data.data[key]);
          }

          that.renderInputAndCheck(x, y);
        });
      },
      requestProcess: function () {
        var that = this;
        var x = [];
        var y = [];
        var url = jasTools.base.rootPath + "/overallStatistics/processCumulativeCompletion.do";
        var ids= that.topSearch.projectOids.filter(function(item){
        	return item!='项目群'
        });
        jasTools.ajax.post(url, {projectOids:ids}, function (data) {
          data.data.forEach(function (item, index) {
            var type = item.statsType;
            x.push(that.fieldsMap[type].name);
            var result=item.statsResult?item.statsResult/1000:0;
            var d1=result?result.toFixed(3):0;
            y.push(d1);
          });
          that.renderChart(x, y);
        });
      },
      renderMonth: function (ledgend, serise,months) {
        var that = this;
        that.month = echarts.init(document.getElementById('month'));
        option = {
          title: {
            text: '各工序分月完成情况对比',
            left: 'center',
            top: '10px'
          },
          tooltip: {
            trigger: 'axis'
          },
          legend: {
            data: ledgend,
            bottom: "-5px"
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '20px',
            containLabel: true
          },

          xAxis: {
            type: 'category',
            boundaryGap: false,
            data:months
          },
          yAxis: {
            type: 'value'
          },
          series: serise
        };
        that.month.setOption(option);
      },
      renderInputAndCheck: function (x, y) {
        var that = this;
        var y0 = [];
        var y1 = [];
        var y2 = [];
        y0[0] = y[2];
        y1[0] = y[1];
        y2[0] = y[0];
        that.inputAndCheck = echarts.init(document.getElementById('inputAndCheck'));
        var option = {
          title: {
            text: '数据录入/审核统计',
            left: 'center',
            top: '10px'
          },
          tooltip: {
            trigger: 'axis',
          },
          legend: {
            show: true,
            bottom: '-5px',
            data: ['已录入', '已审核', '需要审核']
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '20px',
            containLabel: true
          },
          xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01]
          },
          yAxis: {
            type: 'category',
            data: []
          },
          series: [{
            name: '已审核',
            label: {
              show: true,
              position: 'inside'
            },
            itemStyle: {
              color: "#a5a5a5"
            },
            type: 'bar',
            data: y0
          }, {
            name: '需要审核',
            label: {
              show: true,
              position: 'inside'
            },
            itemStyle: {
              color: "#ed7d31"
            },
            type: 'bar',
            data: y1
          }, {
            name: '已录入',
            label: {
              show: true,
              position: 'inside'
            },
            itemStyle: {
              color: "#5b9bd5"
            },
            type: 'bar',
            data: y2
          }]
        };
        that.inputAndCheck.setOption(option);
      },
      renderYield: function (pass, noPass) {
    	  console.log(pass);
    	  console.log(noPass);
        var that = this;
        that.yield = echarts.init(document.getElementById('yield'));
        var option = {
          title: {
            text: '一次合格率统计',
            top: '10px',
            x: 'center'
          },
          tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
          },
          legend: {
            bottom: '0px',
            data: ['合格焊口数', '不合格焊口数']
          },
          series: [{
            name: '访问来源',
            type: 'pie',
            radius: '55%',
            center: ['50%', '60%'],
            data: [{
                value: pass,
                name: '合格焊口数',
                itemStyle: {
                  color: "#5c9edb"
                },
              },
              {
                value: noPass,
                name: '不合格焊口数',
                itemStyle: {
                  color: "#f38645"
                },
              }
            ],
            itemStyle: {
              emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }]
        };
        that.yield.setOption(option);
      },
      renderChart: function (x, y) {
        var that = this;
        that.myChart = echarts.init(document.getElementById('process'));
        // 指定图表的配置项和数据
        var option = {
          title: {
            text: '各工序累计完成情况',
            left: 'center',
            top: '10px'
          },
          tooltip: {},
          xAxis: {
            data: x
          },
          yAxis: {
            min: 0,
            scale: true,
          },
          series: [{
            name: '工序',
            type: 'bar',
            label: {
              show: true,
              position: 'top'
            },
            itemStyle: {
              color: '#409EFF',
              shadowColor: 'rgba(0, 0, 0, 0.5)',
              shadowBlur: 10
            },
            data: y
          }]
        };
        that.myChart.setOption(option);
      },
      select: function (val) {
        var that = this;
        if (val.length == that.projectArray.length || (val.length == 1 && val[0] == "项目群")||(val.length==0)) { //表示肯定是全选
          that.topSearch.projectOids = that.ids;
          that.oldOptions = that.topSearch.projectOids;
         // return;
        }
        if (val.indexOf("项目群") < 0) {
          if (that.oldOptions.length - 1 == val.length) {
            // that.$toast("默认为全部选择");
            // that.topSearch.projectOids = [];
            // that.oldOptions = [];
          } else
           if (val.length == that.projectArray.length - 1) {
            that.topSearch.projectOids = that.ids;
            that.oldOptions = that.topSearch.projectOids;
          }
        } else { //表示此时包含0
          if (val.length != that.oldOptions.length) { //此时选中的值与上一次选中值不一样。取消0；
            var isExist = 0;
            that.oldOptions.forEach(function (item) {
              if (item == '项目群') {
                isExist++;
              }
            });
            that.topSearch.projectOids = [];
            that.oldOptions = [];
            if (isExist > 0) {
              val.forEach(function (item) {
                if (item != "项目群") {
                  that.topSearch.projectOids.push(item);
                  that.oldOptions.push(item);
                }
              });
            } else {
              that.topSearch.projectOids = that.ids;
              that.oldOptions = that.topSearch.projectOids;
            }

          }

        }
        that.requestNet();
      }
    },
  });
</script>

</html>