<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./../../../../lib/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="./../../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../../../src/css/main.css">
	<style>
		.el-form-item {
			margin-bottom: 15px !important;
		}
	</style>
</head>

<body>
	<div id="app" v-cloak>

		<jas-dialog-wrapper>
			<el-form ref="formData" :rules="rules" :model="form" label-width="140px">

				<jas-base-group-title name="基础数据"></jas-base-group-title>
				<el-row :gutter="10">
					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="项目名称" prop="projectOid" required>
							<el-select v-model="form.projectOid" clearable placeholder="请选择项目名称" size="small" @change="projectChanged">
								<el-option v-for="item in domain.project" :key="item.key" :label="item.value" :value="item.key"> </el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="标段名称" prop="tendersOid" required>
							<el-select v-model="form.tendersOid" clearable placeholder="请选择标段名称" size="small" @change="tendersChanged">
								<el-option v-for="item in domain.tenders" :key="item.key" :label="item.value" :value="item.key"> </el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="管线名称" prop="pipelineOid" required>
							<el-select v-model="form.pipelineOid" clearable placeholder="请选择管线名称" size="small" @change="pipelineChanged">
								<el-option v-for="item in domain.pipeline" :key="item.key" :label="item.value" :value="item.key"> </el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="线路段/穿跨越" prop="pipeSegmentOrCrossOid" required>
							<el-select v-model="form.pipeSegmentOrCrossOid" clearable placeholder="请选择线路段" size="small" @change="pipeSegmentChanged">
								<el-option v-for="item in domain.pipeSegment" :key="item.key" :label="item.value" :value="item.key"> </el-option>
							</el-select>
						</el-form-item>
					</el-col>

					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="施工单位">
							<el-select v-model="form.constructUnit" disabled placeholder="请选择施工单位" size="small">
								<el-option v-for="item in domain.constructUnits" :key="item.key" :label="item.value" :value="item.key"> </el-option>
							</el-select>
						</el-form-item>
					</el-col>

					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="施工日期">
							<el-date-picker value-format="yyyy-MM-dd" type="date" placeholder="请输入施工日期" v-model="form.constructDate" size="small" style="width: 100%;">
							</el-date-picker>
						</el-form-item>
					</el-col>
					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="监理单位">
							<el-select v-model="form.supervisionUnit" clearable placeholder="请选择监理单位" size="small">
								<el-option v-for="item in domain.supervisionUnits" :key="item.key" :label="item.value" :value="item.key"> </el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="监理工程师">
							<el-input v-model="form.supervisionEngineer" clearable placeholder="请输入监理工程师" size="small"></el-input>
						</el-form-item>
					</el-col>

					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="采集人员">
							<el-input v-model="form.collectionPerson" clearable placeholder="请输入采集人员" size="small"></el-input>
						</el-form-item>
					</el-col>

					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="采集日期">
							<el-date-picker value-format="yyyy-MM-dd" type="date" placeholder="请输入采集日期" v-model="form.collectionDate" size="small" style="width: 100%;">
							</el-date-picker>
						</el-form-item>
					</el-col>
				</el-row>
				<jas-base-group-title name="位置数据"></jas-base-group-title>
				<el-row>
					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="起始桩号">
							<el-select v-model="form.startMedianStakeOid" clearable placeholder="请选择起始桩号" size="small">
								<el-option v-for="item in domain.medianStakes" :key="item.key" :label="item.value" :value="item.key"> </el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="结束桩号">
							<el-select v-model="form.endMedianStakeOid" clearable placeholder="请选择结束桩号" size="small">
								<el-option v-for="item in domain.medianStakes" :key="item.key" :label="item.value" :value="item.key"> </el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="相对起始桩里程(m)">
							<el-input-number :precision="3" :step="1" :max="1000000" controls-position="right" v-model="form.startRelativeMileage" clearable
							  placeholder="请输入相对起始桩里程(m)" size="small"></el-input-number>
						</el-form-item>
					</el-col>

					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="相对结束桩里程(m)">
							<el-input-number :precision="3" :step="1" :max="1000000" controls-position="right" v-model="form.endRelativeMileage" clearable
							  placeholder="请输入相对结束桩里程(m)" size="small"></el-input-number>
						</el-form-item>
						</el-form-item>
					</el-col>
				</el-row>
				<jas-base-group-title name="回填数据"></jas-base-group-title>
				<jas-form-items ref="mainForm" :form="form" :fields="fields" :fields-config="fieldsConfig"></jas-form-items>
				<jas-base-group-title name="其他信息"></jas-base-group-title>
				<el-row>
					<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
						<el-form-item label="备注">
							<el-input type="textarea" :autosize="{ minRows: 2, maxRows: 6 }" :rows="2" size="small" v-model="form.remarks"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<jas-base-group-title name="附件信息"></jas-base-group-title>
				<jas-file-upload ref="upload" @success="uploadSuccess"></jas-file-upload>
			</el-form>
			<div slot="footer">
				<el-button size="small" @click="cancel()">取 消</el-button>
				<el-button size="small" type="primary" @click="submit('formData')">确 定</el-button>
			</div>
		</jas-dialog-wrapper>

	</div>
</body>
<script src="./../../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../../lib/vue/vue.js"></script>
<script src="./../../../../lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./../../../../common/components/jas-components.js "></script>
<script src="./../../../../common/js/jas-tools.js"></script>
<script>
	var app = new Vue({
		el: "#app",
		data: function () {
			var that = this;
			return {
				fields: [{
					name: '回填长度(m)',
					field: 'backfillLength'
				}, {
					name: '细土回填厚度(mm)',
					field: 'backfillThickness',
				}, {
					name: '一次回填厚度(mm)',
					field: 'oneBackfillThickness'
				}, {
					name: '二次回填厚度(mm)',
					field: 'twoBackfillThickness'
				}, {
					name: '埋地标识类型',
					field: 'signType',
				}, {
					name: '标识长度(m)',
					field: 'signLength'
				}, {
					name: '标识埋深(m)',
					field: 'signDepth'
				}, ],
				fieldsConfig: {
					backfillLength: {
						isRequired: true,
						type: 'number',
						max: 100000,
						precision: 3,
					},
					backfillThickness: {
						type: 'number',
						max: 100000,
						precision: 3,
					},
					oneBackfillThickness: {
						type: 'number',
						max: 100000,
						precision: 3,
					},
					twoBackfillThickness: {
						type: 'number',
						max: 10000,
						precision: 3,
					},
					signType: {
						type: 'select',
						domainName: 'sign_type_domain',
						isRequired: true,
					},
					signLength: {
						type: 'number',
						max: 10000,
						precision: 3,
					},
					signDepth: {
						type: 'number',
						max: 10000,
						precision: 3,
					},

				},
				domain: {
					project: [],
					pipeline: [],
					tenders: [],
					pipeSegment: [],
					supervisionUnits: [], //监理单位
					constructUnits: [], //施工单位
					medianStakes: []
				},
				rules: {
					projectOid: [{
						required: true,
						message: '项目名称为必填项',
						trigger: 'change'
					}],
					tendersOid: [{
						required: true,
						message: '标段名称为必填项',
						trigger: 'change'
					}],
					pipelineOid: [{
						required: true,
						message: '管线名称为必填项',
						trigger: 'change'
					}],
					pipeSegmentOrCrossOid: [{
						required: true,
						message: '线路段/穿跨越为必填项',
						trigger: 'change'
					}],

				},
				form: {

				},
			}
		},

		mounted: function () {
			var that = this;
			var param = window.jasTools.base.getParamsInUrl(location.href);
			var userBo = JSON.parse(localStorage.getItem("user"));
			that.form.constructUnit = userBo.unitId;
			that.domain.constructUnits = [{
				key: userBo.unitId,
				value: userBo.unitName
			}];
			if (param.oid) {
				this.oid = param.oid;
				this.form.oid = this.oid;
				this.isEdit = true;
				this.getDetailByObjectId();
				this.$refs.upload.requestFile(this.oid);
			};

			this.requestDomainFromBizTable('/daq/privilege/getProjectList.do', {}, function (arr) {
				that.domain.project = arr;
			});

		},
		methods: {
			requestDomainFromBizTable: function (url, obj, cb) {
				var that = this;
				var url = jasTools.base.rootPath + url;
				jasTools.ajax.post(url, obj, function (data) {
					cb && cb(data.rows);
				}, function () {
					cb && cb([]);
				});
			},
			projectChanged: function (val) {
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getTendersList.do', {
							projectOid: val
						},
						function (arr) {
							that.domain.tenders = arr;
						});
				} else {
					that.domain.tenders = [];
					that.form.tendersOid = '';
					that.domain.pipeline = [];
					that.form.pipelineOid = '';
					that.domain.pipeSegment = [];
					that.form.pipeSegmentOrCrossOid = '';
					that.domain.supervisionUnits = [];
					that.form.supervisionUnit = '';
				}

			},
			tendersChanged: function (val) { //根据标段触发管线列表
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getPipelineListByTendersOid.do', {
							tendersOid: val
						},
						function (arr) {
							that.domain.pipeline = arr;
						});
				} else {
					that.domain.pipeline = [];
					that.form.pipelineOid = '';
					that.domain.pipeSegment = [];
					that.form.pipeSegmentOrCrossOid = '';
				}
				that.getSupervisionUnit(val); //根据标段获取监理单位
			},
			getSupervisionUnit: function (val) {
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getSupervisionUnitByTendersOid.do', {
							tendersOid: val
						},
						function (arr) {
							that.domain.supervisionUnits = arr;
						});
				} else {
					that.domain.supervisionUnits = [];
					that.form.supervisionUnit = '';
				}
			},
			pipelineChanged: function (val) { //根据管线触发线路段/穿跨越
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getPipeSegmentOrCrossList.do', {
							pipelineOid: val
						},
						function (arr) {
							that.domain.pipeSegment = arr;
						});
				} else {
					that.domain.pipeSegment = [];
					that.form.pipeSegmentOrCrossOid = '';
				}
			},
			pipeSegmentChanged: function (val) {
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getMedianStakeList.do', {
							pipeSegmentOrCrossOid: val
						},
						function (arr) {
							that.domain.medianStakes = arr;
						});
				} else {
					that.domain.medianStakes = [];
					that.form.medianStakeOid = '';
				}
			},
			cancel: function (param) {
				window.parent.jasTools.dialog.close(param);
			},
			submit: function (formName) {
				var that = this;
				this.$refs[formName].validate(function (valid) {

					if (valid) {
						that.save();
					}
				});
			},

			save: function () {
				var that = this;
				var msg = "";
				if (!this.isEdit) {
					msg = "增加成功";
					url = jasTools.base.rootPath + "/jdbc/commonData/layPipeTrenchBackfill/save.do";
				} else {
					msg = "修改成功";
					url = jasTools.base.rootPath + "/jdbc/commonData/layPipeTrenchBackfill/update.do";
				}

				jasTools.ajax.post(url, that.form, function (data) {
					that.$refs.upload.uploadFile(data.data || that.oid);
				});

			},
			uploadSuccess: function () {
				top.Vue.prototype.$message({
					type: 'success',
					message: !this.isEdit ? '保存成功' : '修改成功'
				});
				this.cancel(1);
			},
			getDetailByObjectId: function () {
				var that = this;
				var url = jasTools.base.rootPath + "/jdbc/commonData/layPipeTrenchBackfill/getPage.do";
				jasTools.ajax.post(url, {
					oid: that.oid
				}, function (data) {
					that.form = data.rows[0];
					that.projectChanged(data.rows[0].projectOid);
					that.tendersChanged(data.rows[0].tendersOid);
					that.pipelineChanged(data.rows[0].pipelineOid);
					that.pipeSegmentChanged(data.rows[0].pipeSegmentOrCrossOid);

				});
			},
		},
	});
</script>

</html>