<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./../../../lib/element-ui/v2.2.1/theme-chalk/index.min.css">
  <link rel="stylesheet" href="./../../../lib/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./../../../src/css/main.css">
  <style>
    .outer-wrap {
      height: 100%;
    }

    .dialog-footer {
      padding-top: 10px;
    }


    .upload-demo {
      text-align: center;
      width: 80%;
      margin: auto;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <div class="outer-wrap jas-flex-box is-vertical ">
      <div class="content is-grown">
        <el-upload class="upload-demo" drag action="https://jsonplaceholder.typicode.com/posts/">
          <i class="el-icon-upload"></i>
          <div class="el-upload__text">将文件拖到此处，或
            <em>点击上传</em>
          </div>
          <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
        </el-upload>
      </div>
      <div class="dialog-footer" style="text-align: center">
        <el-button size="small">取 消</el-button>
        <el-button size="small" type="primary">确 定</el-button>
      </div>
    </div>
  </div>
</body>
<!-- import Vue before Element -->
<script src="./../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../lib/vue/vue.js"></script>
<!-- <script src="./../../../lib/vue-bar/vue-bar.js"></script> -->

<!-- import JavaScript -->
<script src="./../../../lib/element-ui/v2.2.1/index.min.js"></script>
<script src="./../../../common/js/jas-tools.js"></script>
<script>
  var app = new Vue({
    el: "#app",
    data: function () {
      return {

      }
    },
    mounted: function () {

    },
    methods: {}
  });
</script>


</html>